@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

body {
  background-color: black;
  color: white;
  font-family: poppins;
}
form {
  background-color: hsl(0, 0%, 15%);
  padding: 25px;
  border-radius: 10px;
  width: 420px;
  height: 470px;
  margin: 100px auto;
  border: white 0.8px solid;
  box-shadow: 0 0 20px rgba(119, 255, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
form:hover {
  box-shadow: 0 0 30px rgba(119, 255, 0, 0.4);
}
h1 {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3rem;
  color: rgb(102, 205, 0);
}
p {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
  font-weight: 200;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: 200;
  margin-left: 30px;
  font-size: 0.8rem;
}
span {
  font-size: 0.8rem;
}
input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid #444;
  border-radius: 6px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: chartreuse;
  outline: none;
}

input[type="submit"] {
  width: 90%;
  display: block;
  margin: 30px auto;
  padding: 12px;
  border-radius: 6px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  background-color: rgb(102, 205, 0);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgba(128, 255, 0, 0.838);
  transform: translateY(-2px);
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 5px;
}
span[for="rememberMe"] {
  font-size: 0.8rem;
  font-weight: 200;
  vertical-align: middle;
}
.login-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: -12px;
 
}
form a {
  color: white;
  font-weight: 200;
  font-size: 0.8rem;
  text-decoration: none;
  transition: color 0.3s ease;
  
 

}
form a:hover {
  color: rgba(128, 255, 0, 0.673);
}
